@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

  body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
   
  }

  /*-TYPOGRAPHY---*/              


  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: normal;
  }

  h1 {
    font-size: 5em;
  }

  h2 {
    color: #ffffff;
    font-size: 2em;
   text-align: center;
    
  }

  h9 {
    color: #070707;
    font-size: 3em;
    font-family: 'Fjalla One', sans-serif;
  }
  

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }

  h6{
    color: #ffffff;
    font-size: 1.3em;
    text-align: left;
    
    
  }

  .h7{
    color: #ffffff;
    font-size: 6em;
    text-align: center;
   font-family: 'Fjalla One', sans-serif;
    
  }
 
 
.h8{
    color: #000000;
    font-size: 1.3em;
    text-align: left;
    
    
  }
 

  ul.b {
    list-style-type: square;
    padding-left: 20px;
   
  }

  li{
    padding-bottom: 10px;
    
  }

   /*-- Button--*/    

  .section-btn {
    background: #536976;
    border: none;
    border-radius: 50px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 18px 32px;
    margin-top: 42px;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  
  .section-btn:focus,
  .section-btn:hover {
    background: #ffffff;
    color: #000000;
  }


      /*-- GENERAL--*/            


  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
  }

  .section-title {
    padding-bottom: 40px;
  }

  section {
    position: relative;
    padding: 100px 0;
  }


  .overlay {
    background: #536976; 
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img
  {
    max-width: 100%;
    max-height: 100%;
    display: block; 
}


.project-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}


  .project-item img {
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }
  .project-item:hover img {
    transform: scale(1.1);
  }
  
  .project-overlay h1 {
    color: #ffffff;
    margin: 0;
  }
  .project-overlay h3 {
    color: #d9d9d9;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-top: 0;
  }
  
  .project-item:hover .project-overlay {
    opacity: 1;
  }
}
 
    /*- BUTTONS --*/              
  
.center {
    margin: 0;
    position: absolute;
    top: 90%;   left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
  }

  

  .parent{
    display: grid;
    place-content: center;
    height: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }


  /*-- PRE LOADER----*/              
 

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }


  /*---MENU---*/              


  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
  }

  .custom-navbar .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .top-nav-collapse {
    background: #ffffff;
  }

  .custom-navbar .navbar-nav {
    margin-left: 6em;
  }

  .custom-navbar .nav li a {
    font-size: 16px;
    font-weight: normal;
    color: #f0f0f0;
    padding-right: 22px;
    padding-left: 22px;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: #29ca8e;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #29ca8e;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #29ca8e;
    border-color: transparent;
  }

  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }

    .custom-navbar.top-nav-collapse {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
    }

    .top-nav-collapse .navbar-brand {
      color: #252525;
    }

    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .top-nav-collapse .nav .section-btn a {
      color: #ffffff;
    }
  }

  /* --HOME-- */

 

  #home h1 {
    color: #ffffff;
    margin-top: 5px;
   
  }

  .home-info {
    margin-top: 2em;
  }

  .home-info h3 {
    color: #f0f0f0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 10px 0;
  }
 
  #feature {
    background: #ffffff;
  }


  #about .col-md-4 {
    margin: 0;
    padding: 0;
  }


  footer {
    padding-bottom: 80px;
  }

  .copyright-text p {
    margin: 5px;
  }


  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    float: right;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }


  /*-Responsives-*/
  @media only screen and (max-width: 1200px) {

    .custom-navbar .navbar-nav {
      margin-left: 3em;
    }

    .home-info {
      margin-top: 0;
    }
  }


  @media only screen and (max-width: 992px) {


    .custom-navbar {
      background: #536976;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 5px;
    }

    #about .col-md-4:nth-child(3n) .team-thumb {
      display: flex;
      -webkit-box-orient: vertical;
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
    }


    footer {
      padding-bottom: 40px;
    }
  }
  img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}


  @media screen and (max-width: 768px) {

    .section-title {
      padding-bottom: 20px;
    }

    .custom-navbar {
     
      background: #536976;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 5px;
    }

    img {display:block;margin:0 auto;}
}

  @media screen and (max-width: 480px) 
  {
   
    img{
      max-width: 100%;
      max-height: 100%;
      display: block; 
  }

  footer {
    padding-bottom: 10px;
  }

  .copyright-text p {
    margin: 1px;
  }

  }
